# Build output files
build/
Projects/JaglavakMapFile.txt

# Windows filesystem spam
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio spam
.vs/
Project/.vs/
Project/ipch/
Project/x64/
Project/Debug/
Project/*.aps
Project/*.ncb
Project/*.opensdf
Project/*.sdf
Project/*.cachefile
Project/*.psess
Project/*.vsp
Project/*.vspx
Project/*.sap
Project/*.suo
Project/*.user
Project/*.userosscache
Project/*.sln.docstates
Project/*.VC.opendb
Project/*.VC.db
Project/*.pdb
Project/*.nvact

.vscode/

**/STS_Rating.txt

# Some engines write log files, etc when running
Testing/Engines/
!*.exe
!engines.json
